.container {
  width: 1170px;
  margin: 0 auto;
}
.userlist {
  margin-top: 70px;
}
.center {
  text-align: center;
}

.error {
  color: red;
}

.loader {
  padding-top: 60px;
}
.email {
  background-color: gold;
}
.name {
  background-color: darkgray;
  padding: 11 10;
}
